# Pandas: grouping

In [1]:
import pandas as pd
import numpy as np

In [2]:
cars = pd.read_csv("data/vehicles.csv")

In [3]:
cars.head()

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550

How many Car models?

In [4]:
cars["Model"].value_counts()

F150 Pickup 2WD      197
F150 Pickup 4WD      179
Truck 2WD            173
Mustang              170
Jetta                169
                    ...
C300 Convertible       1
C300 Coupe             1
C300 FFV               1
C320 4matic Sedan      1
DJ Po Vehicle 2WD      1
Name: Model, Length: 3608, dtype: int64

group by the data by the Make  using count function

In [6]:
#counting cars per model 
cars.groupby('Make')[['Make']].count()

                             Make
Make
AM General                      4
ASC Incorporated                1
Acura                         302
Alfa Romeo                     41
American Motors Corporation    22
...                           ...
Volkswagen                   1047
Volvo                         717
Wallace Environmental          32
Yugo                            8
smart                          20

[127 rows x 1 columns]

Converting Grams/Mile to Grams/Km

1 Mile = 1.60934 Km

Converting Gallons to Liters

1 Gallon = 3.78541 Liters

In [61]:
cars[["CO2 Emission Grams/KM"]]=cars[["CO2 Emission Grams/Mile"]].apply(lambda x:x*1.60934)

In [57]:
cars[["City KPL","Highway KPL","Combined KPL"]]=cars[["City MPG","Highway MPG","Combined MPG"]].apply(lambda x:x*1.60934/3.78541)

In [62]:
cars

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year,City KPL,Highway KPL,Combined KPL,CO2 Emission Grams/KM
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950,7.652571,7.227428,7.227428,841.306152
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550,5.526857,5.526857,5.526857,1100.169583
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100,6.802286,7.227428,6.802286,893.887786
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550,5.526857,5.526857,5.526857,1100.169583
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550,5.952000,8.928000,6.802286,893.887786
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35947,smart,fortwo coupe,2013,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100,14.454857,16.155428,15.305143,392.678960
35948,smart,fortwo coupe,2014,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,243.000000,1100,14.454857,16.155428,15.305143,391.069620
35949,smart,fortwo coupe,2015,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100,14.454857,16.155428,15.305143,392.678960
35950,smart,fortwo coupe,2016,0.9,3.0,Auto(AM6),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,39,36,246.000000,1100,14.454857,16.580571,15.305143,395.897640
35951,smart,fortwo coupe,2016,0.9,3.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,9.417429,32,39,35,255.000000,1150,13.604571,16.580571,14.880000,410.381700

What brand has the most cars?

In [71]:
cars.groupby(["Make"])[["Model"]].count().sort_values(by="Model")

                                    Model
Make
Mahindra                                1
General Motors                          1
Qvale                                   1
Fisker                                  1
S and S Coach Company  E.p. Dutton      1
...                                   ...
Toyota                               1836
GMC                                  2347
Dodge                                2360
Ford                                 2946
Chevrolet                            3643

[127 rows x 1 columns]

In [68]:
#cars.groupby("Make").filter(lambda x: x["Make"].max())
cars.groupby(["Make"])[["Model"]].count()
cars_make=cars["Make"].value_counts()
cars_make.idxmax()

'Chevrolet'

<b>show the average CO2_Emission_Grams/Km  by Brand

In [65]:
cars.groupby(["Make"])[["CO2 Emission Grams/KM"]].mean()

                             CO2 Emission Grams/KM
Make
AM General                              983.883276
ASC Incorporated                        893.887786
Acura                                   680.083467
Alfa Romeo                              746.656697
American Motors Corporation             813.937904
...                                            ...
Volkswagen                              632.054961
Volvo                                   701.356415
Wallace Environmental                  1058.929674
Yugo                                    573.034887
smart                                   397.556154

[127 rows x 1 columns]

<b>show the average CO2_Emission_Grams/Km  by Brand ... sorted

In [67]:
cars.groupby(["Make"])[["CO2 Emission Grams/KM"]].mean().sort_values(by="CO2 Emission Grams/KM")

                                    CO2 Emission Grams/KM
Make
Fisker                                         271.978460
smart                                          397.556154
Fiat                                           490.312081
Daihatsu                                       499.198053
MINI                                           504.877095
...                                                   ...
Laforza Automobile Inc                        1300.200416
Bugatti                                       1405.054404
Superior Coaches Div E.p. Dutton              1430.220458
S and S Coach Company  E.p. Dutton            1430.220458
Vector                                        1688.454707

[127 rows x 1 columns]

# (Optional)

Use `pd.cut` or `pd.qcut` to create 4 groups (bins) of cars, by Year. We want to explore how cars have evolved decade by decade.

In [64]:
cars['Year'].describe()

count    35952.00000
mean      2000.71640
std         10.08529
min       1984.00000
25%       1991.00000
50%       2001.00000
75%       2010.00000
max       2017.00000
Name: Year, dtype: float64

In [100]:
#cars.groupby(["Year",cars["Year"].qcut(range(5),4)])

cars.groupby(["Make","Year"])[["Year"]].transform(lambda x: pd.cut(x, bins = 4).astype(str))

                     Year
0      (1983.008, 1984.0]
1      (1983.008, 1984.0]
2      (1984.008, 1985.0]
3      (1984.008, 1985.0]
4      (1986.006, 1987.0]
...                   ...
35947  (2011.994, 2013.0]
35948  (2012.993, 2014.0]
35949  (2013.992, 2015.0]
35950  (2014.992, 2016.0]
35951  (2014.992, 2016.0]

[35952 rows x 1 columns]

### Did cars consume more gas in the eighties?

show the average City_Km/Liter by year_range

In [ ]:
### your code is here

Which brands are more environment friendly?

In [ ]:
### your code is here

Does the drivetrain affect fuel consumption?

In [ ]:
## Your Code here

Do cars with automatic transmission consume more fuel than cars with manual transmission?

In [ ]:
## Your Code here

Use `groupby` and `agg` with different aggregation measures for different columns:

aggregate with average City_Km/Liter and the count of the Trans

In [ ]:
## your code is here

aggregate with average City_Km/Liter and the minimum of the Trans

In [ ]:
### your code is here