# Pandas: grouping

In [1]:
import pandas as pd
import numpy as np

In [2]:
cars = pd.read_csv("data/vehicles.csv")

In [3]:
cars.head()

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550

How many Car models?

In [4]:
cars["Model"].value_counts()

F150 Pickup 2WD      197
F150 Pickup 4WD      179
Truck 2WD            173
Mustang              170
Jetta                169
                    ...
C300 Convertible       1
C300 Coupe             1
C300 FFV               1
C320 4matic Sedan      1
DJ Po Vehicle 2WD      1
Name: Model, Length: 3608, dtype: int64

group by the data by the Make  using count function

In [5]:
#counting cars per model 
cars.groupby('Make')[['Make']].count()

                             Make
Make
AM General                      4
ASC Incorporated                1
Acura                         302
Alfa Romeo                     41
American Motors Corporation    22
...                           ...
Volkswagen                   1047
Volvo                         717
Wallace Environmental          32
Yugo                            8
smart                          20

[127 rows x 1 columns]

In [12]:
cars.groupby('Make')[['Model']].nunique().reset_index()

                            Make  Model
0                     AM General      4
1               ASC Incorporated      1
2                          Acura     39
3                     Alfa Romeo      8
4    American Motors Corporation      4
..                           ...    ...
122                   Volkswagen     63
123                        Volvo     83
124        Wallace Environmental     18
125                         Yugo      4
126                        smart      3

[127 rows x 2 columns]

Converting Grams/Mile to Grams/Km

1 Mile = 1.60934 Km

Converting Gallons to Liters

1 Gallon = 3.78541 Liters

In [ ]:
cars[["CO2 Emission Grams/KM"]]=cars[["CO2 Emission Grams/Mile"]].apply(lambda x:x*1.60934)

In [ ]:
cars[["City KPL","Highway KPL","Combined KPL"]]=cars[["City MPG","Highway MPG","Combined MPG"]].apply(lambda x:x*1.60934/3.78541)

In [ ]:
cars

What brand has the most cars?

In [ ]:
cars.groupby(["Make"])[["Model"]].count().sort_values(by="Model")

In [ ]:
#cars.groupby("Make").filter(lambda x: x["Make"].max())
cars.groupby(["Make"])[["Model"]].count()
cars_make=cars["Make"].value_counts()
cars_make.idxmax()

<b>show the average CO2_Emission_Grams/Km  by Brand

In [ ]:
cars.groupby(["Make"])[["CO2 Emission Grams/KM"]].mean()

<b>show the average CO2_Emission_Grams/Km  by Brand ... sorted

In [ ]:
cars.groupby(["Make"])[["CO2 Emission Grams/KM"]].mean().sort_values(by="CO2 Emission Grams/KM")

# (Optional)

Use `pd.cut` or `pd.qcut` to create 4 groups (bins) of cars, by Year. We want to explore how cars have evolved decade by decade.

In [ ]:
cars['Year'].describe()

In [13]:
#cars.groupby(["Year",cars["Year"].qcut(range(5),4)])

pd.cut(cars['Year'], bins = 4)

0        (1983.967, 1992.25]
1        (1983.967, 1992.25]
2        (1983.967, 1992.25]
3        (1983.967, 1992.25]
4        (1983.967, 1992.25]
                ...
35947      (2008.75, 2017.0]
35948      (2008.75, 2017.0]
35949      (2008.75, 2017.0]
35950      (2008.75, 2017.0]
35951      (2008.75, 2017.0]
Name: Year, Length: 35952, dtype: category
Categories (4, interval[float64, right]): [(1983.967, 1992.25] < (1992.25, 2000.5] < (2000.5, 2008.75] < (2008.75, 2017.0]]

### Did cars consume more gas in the eighties?

show the average City_Km/Liter by year_range

In [ ]:
### your code is here

Which brands are more environment friendly?

In [ ]:
### your code is here

Does the drivetrain affect fuel consumption?

In [ ]:
## Your Code here

Do cars with automatic transmission consume more fuel than cars with manual transmission?

In [ ]:
## Your Code here

Use `groupby` and `agg` with different aggregation measures for different columns:

aggregate with average City_Km/Liter and the count of the Trans

In [ ]:
## your code is here

aggregate with average City_Km/Liter and the minimum of the Trans

In [ ]:
### your code is here